<header>
  <h1>Tax calculator</h1>
</header>
<section class="ui-g">
  <div class="ui-g-12">
    <span class="ui-inputgroup-addon">$</span>
    <input type="number" placeholder="provide the amount" min="1" [(ngModel)]="inputValue" pInputText>
  </div>
  <div class="ui-g-12">
    <div *ngFor="let type of calcTypes">
      <div class="ui-g-12">
        <p-radioButton name="groupname"
                       label="{{type}}"
                       value="{{type}}"
                       [(ngModel)]="calcType">
        </p-radioButton>
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <label>VAT rate:</label>
    <div *ngFor="let vat of VATs">
      <div class="ui-g-12">
        <p-radioButton name="VATs"
                       label="{{vat}}%"
                       value="{{vat}}"
                       [(ngModel)]="VATvalue">
        </p-radioButton>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-12">
    <button type="button"
            pButton
            label="Click"
            (click)="calculate()"
            [disabled]="!inputValue || inputValue < 0">
    </button>
  </div>
  <div *ngIf="inputValue && inputValue > 0; else invalidInput" class="ui-g-12 result">
    <span *ngIf="calcInput === inputValue">Result: {{result}}</span>
  </div>
  <ng-template #invalidInput>
    <span class="error">Please provide a valid input.</span>
  </ng-template>
</section>