<header>
  <h1>Tax calculator</h1>
</header>
<section class="ui-g">
  <div class="ui-g-12">
    <span class="ui-inputgroup-addon">$</span>
    <input type="number" placeholder="provide the amount" min="1" [(ngModel)]="inputValue" pInputText>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-12">
      <p-radioButton name="calcType" label="Net" value="net" [(ngModel)]="calcType"></p-radioButton>
    </div>
    <div class="ui-g-12">
      <p-radioButton name="calcType" label="Gross" value="gross" [(ngModel)]="calcType"></p-radioButton>
    </div>
  </div>
  <div class="ui-g-12">
    <label>VAT rate:</label>
    <div class="ui-g-12">
      <p-radioButton name="groupname" label="10%" value="10" [(ngModel)]="VATvalue"></p-radioButton>
    </div>
    <div class="ui-g-12">
      <p-radioButton name="groupname" label="13%" value="13" [(ngModel)]="VATvalue"></p-radioButton>
    </div>
    <div class="ui-g-12">
      <p-radioButton name="groupname" label="20%" value="20" [(ngModel)]="VATvalue"></p-radioButton>
    </div>
  </div>
  <div class="ui-g-12 ui-md-12">
    <button type="button"
            pButton
            label="Click"
            (click)="calculate()"
            [disabled]="!inputValue || inputValue < 0">
    </button>
  </div>
  <div *ngIf="inputValue && inputValue > 0; else invalidInput" class="ui-g-12 result">
    <span *ngIf="calcInput === inputValue">Result: {{result}}</span>
  </div>
  <ng-template #invalidInput>
    <span class="error">Please provide a valid input.</span>
  </ng-template>
</section>